th.header { 
  border-left:2px solid #aaaaaa; 
  border-right:2px solid #aaaaaa; 
  border-bottom:1px solid #eeeeee; 
}

th.footer { 
  border-width:1px; 
  vertical-align: middle;
}

a.paginate_button, a.paginate_active {
  background-color: #eeeeee;
  color: #555555;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  float: left;
  padding: 2px;
  margin: 3px;
  margin-top: 0px;
}

a.paginate_active {
  background-color: #00bbef;
  color: #000000;
  width: 14px;
  text-align: center;
}

button#action-dropdown {
  float: right;
}

th > input.search-input {
  margin-bottom: 0px;
}
