/* styles to marry jquery.dataTables with bootstrap table classes */

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
    float: left;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}

th.header.colresize { 
  border-right: 1px solid #aaaaaa; 
  border-left: 1px solid #aaaaaa; 
}

th.footer { 
  border-width: 1px; 
  vertical-align: middle;
}

th > input.filter-input {
  margin-bottom: 0px;
}

/* JQuery datatables page navigation */

a.paginate_button, a.paginate_active {
  color: #555555;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  margin-left: 6px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

a.paginate_active {
  background-color: #aaaffe;
  color: #000000;
}

a.paginate_button_disabled {
  color: #bbbbbb;
  background-color: white;
  text-decoration: none;
  pointer-events: none;
  cursor: default !important;
}

a.previous.paginate_button {
  padding-left: 20px;
	background: url('../img/back_enabled.png') no-repeat center left;
}

a.previous.paginate_button:hover {
	background: url('../img/back_enabled_hover.png') no-repeat center left;
}

a.previous.paginate_button_disabled, a.previous.paginate_button_disabled:hover {
	background: url('../img/back_disabled.png') no-repeat center left;
  text-decoration: none;
  pointer-events: none;
  cursor: default !important;
}

a.next.paginate_button {
  padding-right: 20px;
	background: url('../img/forward_enabled.png') no-repeat center right;
}

a.next.paginate_button:hover {
	background: url('../img/forward_enabled_hover.png') no-repeat center right;
}

a.next.paginate_button_disabled, a.next.paginate_button_disabled:hover {
	background: url('../img/forward_disabled.png') no-repeat center right;
}

/* sparkline in tables */
td.valuecolumn>.sparkline>canvas {
  margin-top: -5px;
  margin-bottom: -4px;
}
 

/* vim: set filetype=css sw=2 ts=2 sts=2 expandtab: */
