{% extends "layout.html" %}
{% set title = "Context" %}
{% block body %}
  <div class="page-header">
    <h1>{{ context.name }}</h1>
  </div>
  {% if context.brief %}
  <p class="lead">
    {{ context.brief }}
    {%- if context.description %}
    <a href="#context_description">More...</a>
    {%- endif %}
  </p>
  {%- endif %}

  {%- if context.parameters %}
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Parameter</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for param in context.parameters %}
      <tr>
        <td>
        <a href="#{{ param.name }}">{{ param.name }}</a></td>
        <td>{{ param.brief }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- endif %}
  {%- if context.description %}
    <h2 id="context_description">Description</h2>
    <p>{{ context.description }}</p>
  {%- endif %}

  {%- if context.parameters %}
    <h2>Parameters <small>A detailed description of the parameters</small></h2>
    {%- for param in context.parameters %}
    <h3 id="{{ param.name }}">{{ param.name }}</h3>
    <p>{{ param.description }}</p>
    {%- endfor %}
  {%- endif %}
{% endblock %}
