{% from "data_macros.html" import datatable, datatable_script %}
<!-- external libs -->
<script src="{{ url_for('static', filename='jquery.sparkline.js') }}"></script>
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='js/entry.js') }}"></script>
<script>
{% coffee "main" %}
$ ->
  yamoda.entry.fetch_2D_preview_images($("#datatable td.2d-preview"), "100%")
  return
{% endcoffee %}
{{ datatable_script() }}
</script>
{{ datatable(datas, params, entries) }}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
