{% from "entry_macros.html" import entryvalue %}
{% from "plotting.html" import plotdisplay_includes, plotdisplay1D %}
{% extends "layout.html" %}
{% set title = "Data" %}
{% block extrahead %}
{{ plotdisplay_includes() }}
<!-- external libs -->
<script src="{{ url_for('static', filename='js/jquery.sparkline.js') }}"></script>
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='gen_js/entry.js') }}"></script>
<script src="{{ url_for('static', filename='gen_js/data.js') }}"></script>
{% endblock %}
{% block body %}
<div class="row-fluid">
  <div class="span12">
    <h2>Plot</h2>
    <div class="span12" id="plot">
      {{ plotdisplay1D() }}
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <hr class="small-vertical-margin">
    <a id="plot_btn" class="btn btn-primary" href="#">Plot Selection</a>
    <hr class="small-vertical-margin">
    <h2>Data: {{ data.name }}
    <small>Created {{ data.created|dtformat }}</small></h2>
    <table id="entrytable" class="table table-condensed table-bordered table-striped">
      <thead>
        <tr>
          <th class="hidden"></th>
          <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Parameter</th>
          <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Value</th>
          <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Unit</th>
          <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Details</th>
          <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Dim</th>
          <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Size</th>
          <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Visible?</th>
        </tr>
      </thead>
      <tbody>
        {%- for entry in data.entries %}
        <tr>
          <td class="hidden indexcolumn" index="{{ loop.index }}" entry_id="{{entry.id}}"></td>
          <td>
            {# Link to the Parameter description, parameter.brief is used as tooltip #}
            <a href="{{ url_for('context', context_name=entry.parameter.context.name)
                     }}#{{ entry.parameter.name }}"
               rel="tooltip" title="{{ entry.parameter.brief }}">
              {{ entry.parameter.name }}
            </a>
          </td>
          {{ entryvalue(entry, 500) }}
          <td>{{ entry.parameter.unit|unitformat }}</td>
          {% if entry.value.shape %}
          <td class="url-column"><a id="entry_url_{{loop.index0}}" href="{{url_for('entry', entry_id=entry.id)}}">Show<span class="detail-marker">&nbsp;&gt;&gt;</span><a></td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td class="value-dimension">{{ entry.value|dimension }}D</td>
          {% if entry.value.shape %}
          <td>{{ entry.value|shape }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td>{{ entry.parameter.visible|yesnoformat }}</td>
        </tr>
        {%- endfor %}
      </tbody>
        <tfoot>
          <th class="footer"><input type="text" name="filter_param" class="filter-input filter-init input-mini" value="Filter" data-column_num="1" /></th>
          <th></th>
          <th class="footer"><input type="text" name="filter_unit" class="filter-input filter-init input-mini" value="Filter" data-column_num="3" /></th>
          <th></th>
          <th class="footer"><input type="text" name="filter_dim" class="filter-input filter-init input-mini" value="Filter" data-column_num="5" /></th>
          <th class="footer"><input type="text" name="filter_size" class="filter-input filter-init input-mini" value="Filter" data-column_num="6" /></th>
          <th class="footer"><input type="text" name="filter_visible" class="filter-input filter-init input-mini" value="Visible?" data-column_num="7" /></th>
        </tfoot>
    </table>
    <a >
  </div>
<div>
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
