{% from "data_macros.html" import datalist, datalist_script %}
<!-- external libs -->
<script src="{{ url_for('static', filename='js/jquery.sparkline.js') }}"></script>
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='gen_js/entry.js') }}"></script>
<script src="{{ url_for('static', filename='gen_js/datalist.js') }}"></script>
<script>
{% coffee "main" %}
$ ->
  yamoda.entry.fetch_2D_preview_images($("#datatable td.2d-preview"), "100%")
  return
{% endcoffee %}
{{ datalist_script() }}
</script>
{{ datalist(datas, params, entries) }}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
