{% extends "layout.html" %}
{% set title = "Data" %}
{% block body %}
  <h2>Data: {{ data.name }}
  <small>Created {{ data.created|dtformat }}</small></h2>
  <p>Entries:</p>
  <table id="datatable" class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody>
      {%- for entry in data.entries %}
      <tr>
        <td>
          {# Link to the Parameter description, parameter.brief is used as tooltip #}
          <a href="{{ url_for('context', ctx_name=entry.parameter.context.name)
                   }}#{{ entry.parameter.name }}"
             rel="tooltip" title="{{ entry.parameter.brief }}">
            {{ entry.parameter.name }}
          </a>
        </td>
        <td>{{ entry.value|dataformat }}</td>
        <td>{{ entry.parameter.unit|unitformat }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  <script>
    $(document).ready(function() { $('#datatable').dataTable({
    "bLengthChange": false, "bPaginate": false}); });
    $(function(){ $('a[rel=tooltip]').tooltip();});
  </script>
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
