{% from "entry_macros.html" import entryvalue %}
{% from "set_macros.html" import create_set_modal %}
{% macro datalist(datas, params, entries, parent_set=None) %}
<table id="datalist_table" class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Data #</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Name</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Context</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Entries</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Created</th>
      {% for p in params %}
      <th class="header colresize" rel="tooltip" title="{{ p.brief }}">{{ p.name }} ({{ p.unit }})</th>
      {% endfor %}
      <th class="header"><input type="checkbox" class="select-invert" rel="tooltip" title="Click to invert row selection" /></th>
    </tr>
  </thead>
  <tbody>
  {%- for data in datas %}
    <tr data-row_num="{{ loop.index0 }}">
      <td class="data-id">{{ data.id }}</td>
      <td>
        <a class="data-link" href="{{ url_for('data', data_id=data.id) }}" rel="tooltip" title="Show contained entries">{{ data.name }}
          <span class="detail-marker">&nbsp;&gt;&gt;</span>
        </a>
      </td>
      <td><a href="{{ url_for('context', context_name=data.context.name) }}" rel="tooltip" title="Show context details">{{ data.context.name }}</a></td>
      <td>{{ data.entries|length }}</td>
      <td>{{ data.created|dtformat }}</td>
      {% for entry in entries[loop.index0] %}
        {{ entryvalue(entry, 550 / (params|length)) }}
      {% endfor %}
      <td><input type="checkbox" class="select-row" /></td>
    </tr>

  {%- endfor %}
  </tbody>
  <tfoot>
    <th class="footer"><input type="text" name="filter_number" class="filter-input filter-init input-small" value="Filter #" /></th>
    <th class="footer"><input type="text" name="filter_name" class="filter-input filter-init input-medium" value="Filter names" /></th>
    <th class="footer"><input type="text" name="filter_context" class="filter-input filter-init input-medium" value="Filter contexts" /></th>
    <th class="footer"><input type="text" name="filter_entry_num" class="filter-input filter-init input-mini" value="count" /></th>
    <th class="footer"><input type="text" name="filter_created" class="filter-input filter-init input-medium" value="Filter dates" /></th>
    <th></th>
    {%- for _ in params %}
    <th></th>
    {% endfor %}
  </tfoot>
</table>
<div id="data_action">
  <div class="btn-group">
    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown" data-loading-text="Executing...">
      With selected
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a id="delete_data_action" href="#">Delete</a></li>
      <li><a id="create_set_from_data_action" data-toggle="modal" href="#create_set_for_data_modal">Create Set from Data</a></li>
    </ul>
  </div>
  <div class="alert alert-error hide" id="actionerror"></div>
</div>
{{ create_set_modal(parent_set, "create_set_for_data_modal") }}
{% endmacro %}
{% macro datalist_script(from_set=None) %}
{% coffee "datalist" %}
$ ->
  yamoda.add_module_constants("yamoda.datalist",
    delete_url: "{{ url_for('datadelete') }}",
    from_set: "{{ from_set.id if from_set else 0 }}"
  )
{% endcoffee %}
{% endmacro %}
{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
