{% from "plotting.html" import plotdisplay with context %}
{% from "plotting.html" import plotdisplay_includes %}
{% macro entry1D(entry, parameter) %}

<div class="row-fluid">
  <h2>Entry #{{entry.id}}: {{parameter.name}}({{parameter.unit| unitformat}})</h2>
  <div class="span8" id="plot" style="height:300px;">
    {{ plotdisplay() }}
  </div>
  <div class="span3" id="plot-panel">
  </div>
</div>
<hr>

<div class="row-fluid">
  <div class="span6" id="plot-panel">
    {% if entry.value| length >= 200 %}
      <a id="plot-toggle-btn" class="btn">Request values and plot</a>
      <a id="static-plot-btn" class="btn" onclick="$('#download-modal').modal();">Download plot...</a>
    {% endif %}
  </div>
</div>
<hr>
<hr>

<div class="row-fluid">
  <div class="span12" id="data" data-length="{{entry.value| length}}" data-entry-id="{{entry.id}}">
    <h2>Raw Data (count: {{entry.value| length}})
      {% if entry.value| length >= 200 %}
        <a id="values-toggle-btn" class="btn">Request and show values</a>
      {% endif %}
    </h2>
    <pre id="values-display">No values loaded</pre>
  </div>
</div>

<div id="download-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h3>Plot Download</h3>
  </div>
  <div class="modal-body">
    <h4>Select image type</h4>
    <select id="img-type-select">
      <option>PNG
      <option>SVG
      <option>PDF
      <option>EPS
    </select>
  </div>
  <div id="img-placeholder"></div>
  <div class="modal-footer">
    <button id="show-img-btn" class="btn">Show</button>
    <button id="download-img-btn" class="btn">Download</button>
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
{% endmacro %}

{% extends "layout.html" %}
{% set title="Entry Details" %}
{% block extrahead %}
<!-- external libs -->
<script src="{{ url_for('static', filename='js/log4javascript.js') }}"></script>
{{ plotdisplay_includes() }}
<!-- yamoda base module -->
<script src="{{ url_for('static', filename='js/yamoda.js') }}"></script>
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='js/entry.js') }}"></script>

<script>
{% coffee "dialog" %}
show_plot_download_image = (json) ->
  return

$( () ->
  $("#show-img-btn").click(() ->
    img_type = $("#img-type-select").val()
    $.getJSON('{{url_for("entry", entry_id=entry.id)}}' + '?img_url_for_type=' + img_type, (json) ->
      $("#img-placeholder").html('<img src="' + json.img_url + '" alt="Plot image cannot be displayed">')
      return
    )
    return
  )  

  $("#download-img-btn").click(() ->
    img_type = $("#img-type-select").val()
    $.getJSON('{{url_for("entry", entry_id=entry.id)}}' + '?img_url_for_type=' + img_type, (json) ->
      window.location.replace(json.img_url)
      return
    )
    return
  )  
  yamoda.entry.flot_setup($("#plot"))
)
{% endcoffee %}
//small values are displayed on page load
{% if entry.value| length < 200 %}
{% coffee "main_small" %}
plot_and_show = (entry) ->
  yamoda.logg.info("plot_and_show")
  yamoda.entry.plot(entry, $("#plot"))
  yamoda.entry.show_values(entry, $("#value-display"))
  return

$( () ->
  yamoda.entry.add("{{url_for('entry', entry_id=entry.id)}}", 
                  {{entry.id}}, 
                  "{{entry.parameter.name}}",
                  [{{entry.value | dataformat}}])
  yamoda.entry.get("{{url_for('entry', entry_id=entry.id)}}", plot_and_show)
  return
)
{% endcoffee %}

// large values are displayed when the user requests it
{% else %}
{% coffee "main_large" %}
show_plot = () ->
  yamoda.logg.debug("Show plot")
  yamoda.entry.show_plot($("#plot"))
  #yamoda.entry.get('{{url_for("entry", entry_id=entry.id)}}', (entry) -> yamoda.entry.plot(entry, $("#plot")))
  $("#plot-toggle-btn").text("Hide plot")
  return 

hide_plot = () ->
  yamoda.logg.debug("Hide plot")
  yamoda.entry.hide_plot($("#plot"))
  $("#plot-toggle-btn").text("Show plot")
  return

show_values = () ->
  yamoda.logg.debug("Show values")
  $("#values-display").text("Loading...")
  yamoda.entry.get('{{url_for("entry", entry_id=entry.id)}}', (entry) -> yamoda.entry.show_values(entry, $("#values-display")))
  $("#values-toggle-btn").text("Hide values")
  return

hide_values = () ->
  yamoda.logg.debug("Hide values")
  $("#values-display").text("Values hidden")
  $("#values-toggle-btn").text("Show values")
  return

initial_cb_plot = () ->
  yamoda.entry.get('{{url_for("entry", entry_id=entry.id)}}', (entry) -> yamoda.entry.plot(entry, $('#plot')))
  $("#plot-toggle-btn").off("click").toggle(hide_plot, show_plot).text("Hide plot")
  $("#values-toggle-btn").off("click").toggle(show_values, hide_values).text("Show values")
  return

initial_cb_values = () ->
  show_values()
  $("#plot-toggle-btn").off("click").toggle(show_plot, hide_plot).text("Show plot")
  $("#values-toggle-btn").off("click").toggle(hide_values, show_values).text("Hide values")
  return

$( () ->
  $("#plot-toggle-btn").click(initial_cb_plot);
  $("#values-toggle-btn").click(initial_cb_values);
  return
)
{% endcoffee %}
{% endif %}
</script>
{% endblock %}
{% block body %}
{{ entry1D(entry, entry.parameter) }}
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
