{% from "plotting.html" import plotdisplay1D, plotdisplay2D %}
{% from "plotting.html" import plotdisplay_includes %}

{% macro entry1D2D(entry, parameter) %}
<div class="row-fluid">
  <h2>Entry #{{entry.id}}: {{parameter.name}}({{parameter.unit| unitformat}})</h2>
  <div class="span11" id="plot">
    {% if entry.value.shape|length == 1 %}
      {{ plotdisplay1D() }}
    {% else %}
      {{ plotdisplay2D() }}
    {% endif %}
  </div>
</div>

<div class="row-fluid">
  <div class="span6 small-control-row">
    {% if entry.value|valuecount >= 200 %}
    <button id="plot_toggle_btn" class="btn btn-primary initial">Show Plot</button>
    {% endif %}
    <button id="download_img_btn" class="btn btn-primary">Download</button>
    <label for="img_type_select">Select Image Type:</label>
    <select id="img_type_select" class="span4">
      <option>PNG
      <option>SVG
      <option>PDF
      <option>EPS
    </select>
  </div>
  <div class="span6" id="plot-panel"></div>
</div>
<hr class="small-vertical-margin">
<div class="row-fluid">
  <div class="span12" id="data" data-length="{{entry.value|valuecount}}" data-entry-id="{{entry.id}}">
    <h2>Raw Data (count: {{entry.value|valuecount}})</h2>
    {% if entry.value|valuecount >= 200 %}
      <a id="values_toggle_btn" class="btn btn-primary initial">Request and show values</a>
    {% endif %}
    <pre id="values_display">No values loaded</pre>
  </div>
</div>
{% endmacro %}

{% extends "layout.html" %}
{% set title="Entry Details" %}
{% block extrahead %}
<!-- external libs -->
{{ plotdisplay_includes() }}
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='gen_js/entry.js') }}"></script>
<script src="{{ url_for('static', filename='gen_js/entrydisplay.js') }}"></script>

<script>
{% coffee "main" %}
$ ->
  yamoda.add_module_constants("yamoda.entrydisplay",
    ENTRY_URL: "{{url_for('entry', entry_id=entry.id)}}"
    ENTRY_ID: {{entry.id}}
    PARAMETER_NAME: "{{entry.parameter.name}}"
    ENTRY_VALUE: [{{entry.value | dataformat}}]
  )
  # init stuff
  {% if entry.value.shape|length == 2 %}
  # 2D entry
  yamoda.entrydisplay.e2D_ondemand.init()
  $("#plot_toggle_btn").click()
  {% elif entry.value|valuecount < 200 %}
  # small 1D entry
  # is displayed on page load
  yamoda.entrydisplay.e1D.init()
  {% else %}
  # large 1D entry is displayed when the user requests it
  yamoda.entrydisplay.e1D_ondemand.init()
  $("#plot_toggle_btn").click()
  {% endif %}

  $("#download_img_btn").click ->
    img_type = $("#img_type_select").val()
    $.getJSON '{{url_for("entry", entry_id=entry.id)}}' + '?img_url_for_type=' + img_type, (json) ->
      window.location.replace(json.img_url)
      return
    return

  yamoda.entry.flot_setup($("#plot"))
{% endcoffee %}
</script>
{% endblock %}

{% block body %}
{{ entry1D2D(entry, entry.parameter) }}
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
