{% from "plotting.html" import plotdisplay1D, plotdisplay2D %}
{% from "plotting.html" import plotdisplay_includes %}

{% macro entry1D2D(entry, parameter) %}
<div id="plot-row" class="row-fluid">
  <h2>Entry #{{entry.id}}: {{parameter.name}}({{parameter.unit| unitformat}})</h2>
  <div class="span11" id="plot">
    {% if entry.value.shape|length == 1 %}
      {{ plotdisplay1D() }}
    {% else %}
      {{ plotdisplay2D() }}
    {% endif %}
  </div>
</div>
<hr>

<div class="row-fluid">
  <div class="span6" id="plot-buttons">
    {% if entry.value|valuecount >= 200 %}
      <a id="plot-toggle-btn" class="btn btn-primary initial">Show Plot</a>
      <a id="static-download-btn" class="btn" onclick="">Download Image</a>
    {% endif %}
  </div>
  <div class="span6" id="plot-panel"></div>
</div>
<hr>
<hr>

<div class="row-fluid">
  <div class="span12" id="data" data-length="{{entry.value|valuecount}}" data-entry-id="{{entry.id}}">
    <h2>Raw Data (count: {{entry.value|valuecount}})</h2>
    {% if entry.value|valuecount >= 200 %}
      <a id="values-toggle-btn" class="btn btn-primary initial">Request and show values</a>
    {% endif %}
    <pre id="values-display">No values loaded</pre>
  </div>
</div>

<div id="download-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h3>Plot Download</h3>
  </div>
  <div class="modal-body">
    <h4>Select image type</h4>
    <select id="img-type-select">
      <option>PNG
      <option>SVG
      <option>PDF
      <option>EPS
    </select>
  </div>
  <div id="img-placeholder"></div>
  <div class="modal-footer">
    <button id="show-img-btn" class="btn">Show</button>
    <button id="download-img-btn" class="btn">Download</button>
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
{% endmacro %}

{% extends "layout.html" %}
{% set title="Entry Details" %}
{% block extrahead %}
<!-- external libs -->
{{ plotdisplay_includes() }}
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='gen_js/entry.js') }}"></script>
<script src="{{ url_for('static', filename='gen_js/entrydisplay.js') }}"></script>

<script>
{% coffee "main" %}
$ ->
  yamoda.add_module_constants("yamoda.entrydisplay",
    ENTRY_URL: "{{url_for('entry', entry_id=entry.id)}}"
    ENTRY_ID: {{entry.id}}
    PARAMETER_NAME: "{{entry.parameter.name}}"
    ENTRY_VALUE: [{{entry.value | dataformat}}]
  )
  # init stuff
  {% if entry.value.shape|length == 2 %}
  # 2D entry
  yamoda.entrydisplay.e2D_ondemand.init()
  {% elif entry.value|valuecount < 200 %}
  # small 1D entry
  # is displayed on page load
  yamoda.entrydisplay.e1D.init()
  {% else %}
  # large 1D entry is displayed when the user requests it
  yamoda.entrydisplay.e1D_ondemand.init()
  {% endif %}

  $("#static-download-btn").click -> $('#download-modal').modal()

  $("#show-img-btn").click ->
    img_type = $("#img-type-select").val()
    $.getJSON '{{url_for("entry", entry_id=entry.id)}}' + '?img_url_for_type=' + img_type, (json) ->
      $("#img-placeholder").html('<img src="' + json.img_url + '" alt="Plot image cannot be displayed">')
      return
    return

  $("#download-img-btn").click ->
    img_type = $("#img-type-select").val()
    $.getJSON '{{url_for("entry", entry_id=entry.id)}}' + '?img_url_for_type=' + img_type, (json) ->
      window.location.replace(json.img_url)
      return
    return

  yamoda.entry.flot_setup($("#plot"))
{% endcoffee %}
</script>
{% endblock %}

{% block body %}
{{ entry1D2D(entry, entry.parameter) }}
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
