<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>yamoda &mdash; {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='yamoda.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.dataTables.js') }}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('index') }}">YAMODA</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Data <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('data_view', all=1) }}">View all</a></li>
                  <li><a href="{{ url_for('data_view') }}">View mine</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('contexttable') }}">Contexts</a></li>
            </ul>
            <ul class="nav pull-right">
              {% if current_user.is_authenticated() %}
              <li><a href="{{ url_for('usersettings') }}">Welcome, {{ current_user.name }}</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% else %}
              <li><a href="#">You are not logged in</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        {#
        <div class="span2">
          <!-- sidebar here -->
        </div>
		#}
        <div class="span12">   
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == "error" %}
                  <div class="alert alert-error">
                {% elif category == "info" %}      
                  <div class="alert alert-info">
                {% elif category == "success" %}      
                  <div class="alert alert-success">
                {% else %}
                  <div class="alert">
                {% endif %}
                    <a class="close" data-dismiss="alert" href="#">×</a>
                  {{ message }}
                  </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
