{% from "flash_msg.html" import flash_msg with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yamoda &mdash; {{ title }}</title>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/yamoda.css') }}">
    <!-- external libs -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/log4javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colResizable-1.3.source.js') }}"></script>
    <!-- yamoda base module -->
    <script src="{{ url_for('static', filename='gen_js/yamoda.js') }}"></script>
    <script src="{{ url_for('static', filename='gen_js/jquery_testplugin.js') }}"></script>
    <!-- extra stuff -->
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('index') }}">YAMODA</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ url_for('contexts') }}">Contexts</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Favorite Queries<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for query in fav_queries %}
                  <li><a href="{{ url_for('run_query', query_id=query.id) }}">Run Query '{{ query.name }}' (#{{ query.id }})</a></li>
                  {% endfor %}
                  {% if not fav_queries %}
                    <p>no favorite queries
                  {% endif %}
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">
              {%- if current_user.is_authenticated() %}
              <li><a href="{{ url_for('settings') }}">Welcome, {{ current_user.name }}</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {%- else %}
              <li><a href="#">You are not logged in</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
              {%- endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row-fluid">
        {#
        <div class="span2">
          <!-- sidebar here -->
        </div>
	#}
        <div class="span12">
          <div id="main_msg_area">
            {{ flash_msg() }}
          </div>
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab:  #}
