{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<div class="alert alert-error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="{{ url_for('login') }}" method="post">
    <dl>
      <dt>Username:
      <dd><input type="text" name="username">
      <dt>Password:
      <dd><input type="password" name="password">
      <dd><button type="submit" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i>
      Login</button>
          &nbsp;&nbsp;<input type="checkbox" name="remember" value="yes">
          remember me
    </dl>
  </form>
{% endblock %}
