{% macro queryhistory_includes() %}
{% endmacro %}

{% macro queryhistory_table(query_history) %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/yamoda-datatable.css') }}" />
<table id="query_history_table" class="table table-condensed table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="header colresize">#</th>
      <th class="header colresize">Created</th>
      <th class="header colresize">Name</th>
      <th class="header colresize">Query String</th>
      <th class="header colresize">Favorite?</th>
      <th class="header">Edit</th>
      <th><input type="checkbox" id="checkbox_all" onchange="yamoda.queryhistory.toggle_all_checkboxes(this, $('.querycheck'));" /></th>
    </tr>
  </thead>
  <tbody>
    {%- for query in query_history %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ query.created|dtformat }}</td>
      <td id="query_name_{{ loop.index0 }}">{{ query.name }}</td>
      <td>
        <a href="#" onclick="yamoda.queryhistory.run_query('{{ loop.index0 }}');" id="query_{{ loop.index0 }}" class="query_popover">{{- query.query_string -}}</a>
      </td>
      <td id="query_favorite_{{ loop.index0 }}">{{query.favorite|yesnoformat }}</td>
      <td><a href="#" onclick="yamoda.queryhistory.insert_query('{{ loop.index0 }}');">Edit</a></td>
      <td><input type="checkbox" class="querycheck" id="check_{{ query.id }}" value="yes" /></td>
    </tr>
    {%- endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th class="footer"><input type="text" name="search_number" class="filter-input filter-init input-small" value="Filter #" /></th>
      <th class="footer"><input type="text" name="search_created" class="filter-input filter-init input-medium" value="Filter dates" /></th>
      <th class="footer"><input type="text" name="search_name" class="filter-input filter-init input-medium" value="Filter names" /></th>
      <th class="footer"><input type="text" name="search_query" class="filter-input filter-init input-xlarge" value="Filter queries" /></th>
      <th class="footer"><input type="text" name="search_favorite" class="filter-input filter-init input-small" value="Favorite?" /></th>
      <th class="footer" colspan="2" style="overflow: visible;">
        <!-- adapted from datalist.html -->
        <div id="actionbutton" style="float:right;">
        <div class="btn-group">
          <button id="action_dropdown" class="btn dropdown-toggle btn-mini" data-toggle="dropdown" data-loading-text="Executing...">
            With selected
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" onclick="yamoda.queryhistory.del_queries()">Delete</a></li>
            <li><a href="#" onclick="yamoda.queryhistory.toggle_favorite_queries()">Toggle Favorite Status</a></li>
          </ul>
        </div>
        <div class="alert alert-error hide" id="actionerror"></div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
{% endmacro %}

{{ queryhistory_table(query_history) }}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
