{% macro queryhistory_includes() %}
<script src="{{ url_for('static', filename='bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-tooltip.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='ColResize.js') }}"></script>
{% endmacro %}

{% macro queryhistory_table(query_history) %}
<link rel="stylesheet" type="text/css" href="static/yamoda-datatable.css" />
<table id="queryhistory_table" class="table table-condensed table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="header">#</th>
      <th class="header">Created</th>
      <th class="header">Name</th>
      <th class="header">Query String</th>
      <th class="header">Favorite?</th>
      <th class="header">Insert</th>
      <th><input type="checkbox" id="checkbox_all" onchange="yamoda.queryhistory.toggle_all_checkboxes(this, $('.querycheck'));" /></th>
    </tr>
  </thead>
  <tbody>
    {%- for query in query_history %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ query.created|dtformat }}</td>
      <td id="query_name_{{ loop.index0 }}">{{ query.name }}</td>
      <td>
        <a href="#" onclick="yamoda.queryhistory.run_query('{{ loop.index0 }}');" id="query_{{ loop.index0 }}" class="query_popover">{{- query.query_string -}}</a>
      </td>
      <td id="query_favorite_{{ loop.index0 }}">{{query.favorite|yesnoformat }}</td>
      <td><a href="#" onclick="yamoda.queryhistory.insert_query('{{ loop.index0 }}');">Edit</a></td>
      <td><input type="checkbox" class="querycheck" id="check_{{ query.id }}" value="yes" /></td>
    </tr>
    {%- endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th class="footer"><input type="text" name="search_number" class="search-input search_init input-small" value="Search in #" /></th>
      <th class="footer"><input type="text" name="search_created" class="search-input search_init" value="Search in dates" /></th>
      <th class="footer"><input type="text" name="search_name" class="search-input search_init input-medium" value="Search in names" /></th>
      <th class="footer"><input type="text" name="search_query" class="search-input search_init input-xlarge" value="Search in queries" /></th>
      <th class="footer"><input type="text" name="search_favorite" class="search-input search_init input-small" value="Favorite?" /></th>
      <th class="footer" colspan="2">
        <!-- adapted from datalist.html -->
        <div id="actionbutton">
          <div id="action-group" class="btn-group">
            <button id="action_dropdown" class="btn dropdown-toggle btn-mini" data-toggle="dropdown" data-loading-text="Executing...">
              With selected
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="yamoda.queryhistory.del_queries()">Delete</a></li>
              <li><a href="#" onclick="yamoda.queryhistory.toggle_favorite_queries()">Toggle Favorite Status</a></li>
            </ul>
          </div>
          <div class="alert alert-error hide" id="actionerror"></div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
{% endmacro %}

{{ queryhistory_table(query_history) }}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
