{% extends "layout.html" %}
{% set title = "Error In Query String" %}
{% block body %}
<script src="{{ url_for('static', filename='bootstrap-popover.js') }}"></script>
<div class="row-fluid">
  <div class="span12">
    <div class="alert">
      <strong>Oops, there's an error in your query string!</strong>
      <p>You sent:</p>
      <pre>{{ query }}</pre>
      <p>The server said:</p>
      <pre>{{ error_msg }}</pre>
      <p>Debugging info:</p>
      <pre>{{ letters }}</pre>
    </div>
  </div>
</div>
{% endblock %}

{# vim: set filetype=jinja sw=2 ts=2 sts=2 expandtab: #}
