{% extends "layout.html" %}
{% set title = "Search" %}
{% block body %}
<script src="{{ url_for('static', filename='bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-tooltip.js') }}"></script>
<div class="row-fluid">
  <div class="span5">
    <h2>Search for sets or datas</h2>
    <form action="{{ url_for('search') }}" method="post" class="form-vertical" id="query_form">
      <div class="control-group">
        <label class="control-label" for="query">Enter Query:</label>
        <div class="controls">
            <textarea name="query" id="query_input" class="field span12" rows="8"></textarea>
        </div>
        <label class="checkbox">Save query on run
          <input type="checkbox" name="save_query"></input>
        </label>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          <i class="icon-ok-sign icon-white"></i>Run Query</button>
        <button type="reset" class="btn btn-warning">
          <i class="icon-trash icon-white"></i>Clear</button>
        <a href="#" id="save-query" class="btn" onclick="">
          <i class="icon-briefcase"></i>Save Query</a>
        <a href="#" id="show-help" class="btn" onclick="$('#help-box').show(); $(this).hide(); $('#hide-help').show()">
          <i class="icon-hand-right"></i>Show Help</a>
        <a href="#" style="display: none;" id="hide-help" class="btn" onclick="$('#help-box').hide(); $(this).hide(); $('#show-help').show()">
          <i class="icon-hand-right"></i>Hide Help</a>
      </div>
    </form>
  </div>
  <div class="span7" id="#help-span">
    <div id="help-box" style="display: none;">
      <h2>Query Language Help</h2>
      <ul class="nav nav-tabs">
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="find") }}')">Result Type</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="param-filter") }}')">Parameter Filter</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="sort") }}')">Sorting</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="other") }}')">Other</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="example-datas") }}')">Example Data Query</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="example-sets") }}')">Set Query</a>
      </ul>
      <div id="help-content">
      <p>Select a help category above.</p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <a href="#" id="query_history_btn" class="btn btn-large" onclick="">
      <i class="icon-list"></i>Query History</a>
    <a href="#" id="query_history_btn" class="btn btn-large disabled" onclick="">
      <i class="icon-list-alt"></i>Query Results</a>
    <table id="querytable" class="table table-condensed table-bordered table-striped, table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Created</th>
          <th>Name</th>
          <th>Insert Query</th>
          <th>Run</th>
          <th><input type="checkbox" id="checkbox_all" onchange="yamoda.search.toggle_all_checkboxes(this, $('.querycheck'));" /></th>
        </tr>
      </thead>
      <tbody>
        {%- for query in query_history %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ query.created|dtformat }}</td>
          <td>{{ query.name }}</td>
          <td>
            <a href="#" id="query_{{ loop.index0 }}"
              class="query_popover" onclick="yamoda.search.insert_query('{{ loop.index0 }}')">{{- query.query_string -}}
            </a>
          </td>
          <td><a href="#" class="insert_query" onclick="yamoda.search.run_query('{{ loop.index0 }}');">Run Query</a></td>
          <td><input type="checkbox" class="querycheck" id="check_{{ query.id }}" value="yes" /></td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <!-- adapted from datalist.html -->
    <div id="actionbutton" style="float: right">
      <div class="btn-group">
        <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown" data-loading-text="Executing...">
          With selected
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="yamoda.search.del_queries()">Delete</a></li>
        </ul>
      </div>
      <div class="alert alert-error hide" id="actionerror"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/log4javascript.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/yamoda.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
<script type="text/javascript">
yamoda.search.del_queries_url = "{{ url_for('delete_queries') }}";
yamoda.logg.info("del_queries_url", yamoda.search.del_queries_url);
yamoda.search.thisorthat();
</script>
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
