{% extends "layout.html" %}
{% from "queryhistory.html" import queryhistory_table with context %}
{% set title = "Search" %}
{% block body %}
<script src="{{ url_for('static', filename='bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-tooltip.js') }}"></script>
<div class="row-fluid">
  <div class="span5">
    <h2>Search for sets or datas</h2>
    <form action="{{ url_for('search') }}" method="post" class="form-vertical" id="query_form">
      <div class="control-group">
        <label class="control-label" for="query">Enter Query:</label>
        <div class="controls">
            <textarea name="query" id="query_input" class="field span12" rows="8"></textarea>
        </div>
        <label class="checkbox">Save query on run
          <input type="checkbox" id="save_query_checkbox" name="save_query"></input>
        </label>
        <input type="text" id="query_name_input" name="name"><span class="help-inline">Name of query</span>
        <label class="radio inline">
          <input type="radio" name="show_results" value="newpage" checked />
          Show query results on new page
        </label>
        <label class="radio inline">
          <input type="radio" name="show_results" value="below"/>
          Show query results below
        </label>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          <i class="icon-ok-sign icon-white"></i>Run Query</button>
        <button type="reset" class="btn btn-warning">
          <i class="icon-trash icon-white"></i>Clear</button>
        <a href="#" id="save-query" class="btn" onclick="">
          <i class="icon-briefcase"></i>Save Query</a>
        <a href="#" id="show-help" class="btn" onclick="$('#help-box').show(); $(this).hide(); $('#hide-help').show()">
          <i class="icon-arrow-right"></i>Show Help</a>
        <a href="#" style="display: none;" id="hide-help" class="btn" onclick="$('#help-box').hide(); $(this).hide(); $('#show-help').show()">
          <i class="icon-arrow-left"></i>Hide Help</a>
      </div>
    </form>
  </div>
  <div class="span7" id="#help-span">
    <div id="help-box" style="display: none;">
      <h2>Query Language Help</h2>
      <ul class="nav nav-tabs">
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="find") }}')">Result Type</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="param-filter") }}')">Parameter Filter</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="sort") }}')">Sorting</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="other") }}')">Other</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="example-datas") }}')">Example Data Query</a>
      <li><a href="#" onclick="yamoda.search.request_help_content('{{ url_for("get_helptext", name="example-sets") }}')">Set Query</a>
      </ul>
      <div id="help-content">
      <p>Select a help category above.</p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row-fluid">
  <div class="span3">
    <h2 id="bottom-headline">Query History</h2>
  </div>
  <div class="span9">
    <a href="#" id="query_history_btn" class="btn btn-large pull-right" onclick="yamoda.search.change_to_query_history()">
      <i class="icon-list"></i>Change To History</a>
    <a href="#" id="query_results_btn" class="btn btn-large pull-right" onclick="yamoda.search.change_to_query_results()">
      <i class="icon-list-alt"></i>Change To Results</a>
  </div>
</div>
<hr />
<div class="row-fluid">
    <div id="bottom-content" class="span12">
      {{ queryhistory_table(query_history) }}
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/log4javascript.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/yamoda.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/queryhistory.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
<script type="text/javascript">
yamoda.queryhistory.del_queries_url = "{{ url_for('delete_queries') }}";
yamoda.search.search_url = "{{ url_for('search') }}";
yamoda.logg.info("del_queries_url", yamoda.queryhistory.del_queries_url);
</script>
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
