{# display contents of a set (datas and subsets)  #}
{% extends "layout.html" %}
{% from "set_macros.html" import setlist_with_controls, setlist_script %}
{% from "data_macros.html" import datalist, datalist_script %}
{% from "comment_macros.html" import comment_section %}
{% block extrahead %}
<!-- external libs -->
<script src="{{ url_for('static', filename='js/jquery.sparkline.js') }}"></script>
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='gen_js/entry.js') }}"></script>
<script src="{{ url_for('static', filename='gen_js/datalist.js') }}"></script>
<script type="text/javascript">
{{ setlist_script() }}
{{ datalist_script(set) }}
</script>
{% endblock %}

{% set title = "Dataset" %}

{% block body %}
  <h2>Dataset: {{ set.name }}
    <small>(#{{ set.id }})</small>
    <small>Created {{ set.created|dtformat }}</small>
  </h2>
  <h3>Subsets</h3>
  {{ setlist_with_controls(set.children, set) }}
  <br />
  <hr />
  <h3>Data in Set</h3>
  <a id="data_import_btn" class="btn" href="{{ url_for('setimport', set_id=set.id) }}">Import data</a>
  {% if set.datas %}
  <script>
  {% coffee "move_data_import_button" %}
  $ ->
    $("#datatable_wrapper .datatables-top-left-bar").append($("#data_import_btn").remove())
  {% endcoffee %}
  </script>
  {{ datalist(set.datas, params, entries) }}

  {% else %}
  <hr />
  <p>There is no data in this set.</p>
  <hr />
  {%- endif %}
  <h2>Comments for this Set:</h2>
  {{ comment_section(set.comments) }}
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
