{% extends "layout.html" %}
{% set title = "Dataset" %}
{% block body %}
  <h2>Dataset</h2>
  <p>Data in this set:</p>
  <table id="datatable" class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Entries</th>
        <th>Created</th>
      </tr>
    </thead>
  <tbody>
  {% for data in set.datas %}
    {# if data.readable() #}
      <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ url_for('data', id=data.id) }}">{{ data.name }}</a></td>
        <td>{{ data.entries|length }}</td>
        <td>{{ data.created|dtformat }}</td></tr>
    {# endif #}
  {% endfor %}
  </tbody>
  </table>
  <script>
    $(document).ready(function() { $('#datatable').dataTable({
    "bLengthChange": false, "bPaginate": false}); });
  </script>
{% endblock %}>
