{% macro settable_script() %}
{% coffee "main" %}
$ ->
  dtable = yamoda.utils.setup_datatable($("#settable"))
  yamoda.utils.setup_column_filter_boxes($("#settable th.footer input.filter-input"), dtable)
{% endcoffee %}
{% endmacro %}

{% macro settable(sets) %}
{# just a table with sets  #}
<table id="settable" class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">#</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Name</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Subsets</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Datas</th>
      <th class="header colresize" rel="tooltip" title="Click to sort, hold shift key to sort multiple columns">Created</th>
    </tr>
  </thead>
  <tbody>
  {%- for set in sets %}
    <tr>
      <td>{{ loop.index }}</td>
      <td><a href="{{ url_for('set', set_id=set.id) }}">{{ set.name }}</a></td>
      <td>{{ set.children|length }}</td>
      <td>{{ set.datas|length }}</td>
      <td>{{ set.created|dtformat }}</td>
    </tr>
  {%- endfor %}
  </tbody>
  <tfoot>
    <th class="footer"><input type="text" name="filter_number" class="filter-input filter-init input-small" value="Filter #" data-column_num="0" /></th>
    <th class="footer"><input type="text" name="filter_name" class="filter-input filter-init input-large" value="Filter names" data-column_num="1" /></th>
    <th class="footer"><input type="text" name="filter_entries_count" class="filter-input filter-init input-small" value="# subsets" data-column_num="2" /></th>
    <th class="footer"><input type="text" name="filter_datas_count" class="filter-input filter-init input-small" value="# datas" data-column_num="3" /></th>
    <th class="footer"><input type="text" name="filter_created" class="filter-input filter-init input-medium" value="Filter dates" data-column_num="4" /></th>
  </tfoot>
</table>
{% endmacro %}

{% macro setlist(sets, parent) %}
{# settable with additional set controls (new set)  #}
  <div id="new_set">
    <a class="btn" data-toggle="modal"
      href="#new_set">Create {% if parent %}sub{% endif %}set</a>
  </div>

  {% if sets %} 
  <script>
  {% coffee "settable" %}
  $ ->
    $("#settable_wrapper .datatables-top-left-bar").append($("#new_set").remove())
  {% endcoffee %}
  </script>
  {{ settable(sets) }}
  {% endif %} 

  <div class="modal hide" id="new_set">
    <form class="modal-form" action="{{ url_for('create_set') }}" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Create new set</h3>
        {%- if parent %}
        <p>(as a child of {{ parent.name }})</p>
        {%- endif %}
      </div>
      <div class="modal-body">
        <label>Name</label>
        <input type="text" class="span3" placeholder="Set name…" name="name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">
          <i class="icon-ok-sign icon-white"></i> Create
        </button>
      </div>
    </form>
  </div>
{% endmacro %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
