{# display contents of a set (datas and subsets)  #}
{% extends "layout.html" %}
{% from "set_macros.html" import setlist, settable_script %}
{% from "data_macros.html" import datatable, datatable_script %}
{% block extrahead %}
<!-- external libs -->
<script src="{{ url_for('static', filename='js/jquery.sparkline.js') }}"></script>
<!-- yamoda modules -->
<script src="{{ url_for('static', filename='gen_js/entry.js') }}"></script>
<script type="text/javascript">
{{ settable_script() }}
{{ datatable_script() }}
</script>
{% endblock %}

{% set title = "Dataset" %}

{% block body %}
  <h2>Dataset: {{ set.name }}</h2>
  <h3>Subsets</h3>
  {{ setlist(set.children, set) }}
  <br />
  <hr />
  <h3>Data in this Set</h3>
  <a id="data_import_btn" class="btn" href="{{ url_for('setimport', set_id=set.id) }}">Import data</a>
  {% if set.datas %}
  <script>
  {% coffee "move_data_import_button" %}
  $ ->
    $("#datatable_wrapper .datatables-top-left-bar").append($("#data_import_btn").remove())
  {% endcoffee %}
  </script>
  {{ datatable(set.datas, params, entries) }}

  {% else %}
  <hr />
  <p>There is no data in this set.</p>
  <hr />
  {%- endif %}
{% endblock %}

{# vim: set filetype=htmljinja sw=2 ts=2 sts=2 expandtab: #}
