{% extends "layout.html" %}
{% set title = "Import" %}
{% block extrahead %}
  <script src="{{ url_for('static', filename='jquery.form.js') }}"></script>
{% endblock %}
{% block body %}
  <h2>Import Data</h2>
  <div style="display: none" id="error" class="alert alert-error">
    <strong>Error:</strong> <span id="errortext"></span></div>
  <div style="display: none" id="success" class="alert alert-success">
    <span id="successtext"></span></div>
  <p>Import data into set <a href="{{ url_for('set', id=set.id) }}">{{ set.name }}</a>:</p>
  <form id="impform" action="{{ url_for('setimport_do', id=set.id) }}" method="post"
        enctype="multipart/form-data" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="importer">Importer:</label>
      <div class="controls">
        <select name="importer">
          {%- for key, info in importers %}
          <option value="{{ key }}">{{ info[0] }}</option>
          {%- endfor %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="context">Context:</label>
      <div class="controls">
        <select name="context">
          {%- for ctx in contexts %}
          <option value="{{ ctx.id }}">{{ ctx.name }}</option>
          {%- endfor %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">File(s):</label>
      <div class="controls">
        <input type="file" name="file00" id="file00" style="display: block" multiple="" />
        <input type="file" name="file01" id="file01" style="display: block" multiple="" />
        <input type="file" name="file02" id="file02" style="display: block" multiple="" />
        <p class="help-block">Multiple files can be selected in each field.</p>
      </div>
    </div>
    <div style="display: none" id="missing" class="well"></div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary" id="submit" data-loading-text="Importing...">
      <i class="icon-upload icon-white"></i> Import</button>
      <button type="reset" class="btn">
        <i class="icon-remove"></i> Reset</button>
    </div>
  </form>
  <script>
    function submitok(data, status, xhr) {
      $('#submit').button('reset');
      if (data['result'] == 'success') {
        $('#successtext').text('The import was successful.  New datas: ' + data['data']);
        $('#success').show();
        $('#impform').resetForm();
        $('#missing').html('').hide();
      } else if (data['result'] == 'missing') {
        $('#missing').html(data['data']).show();
      } else {
        submiterr(xhr, status, data['data']);
      }
    }
    function submiterr(xhr, status, error) {
      $('#submit').button('reset');
      $('#errortext').text(error);
      $('#error').show();
    }
    $(function() { $('#impform').submit(function() {
      $('#success').hide();
      $('#error').hide();
      $('#submit').button('loading');
      $('#impform').ajaxSubmit({
        'success': submitok,
        'error': submiterr
      });
      return false;
    }); });
  </script>
{% endblock %}
