{% extends "layout.html" %}
{% set title = "Datasets" %}
{% block body %}
  <h2>Datasets</h2>
  <table id="datatable" class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Subsets</th>
        <th>Datas</th>
        <th>Created</th>
      </tr>
    </thead>
  <tbody>
  {% for set in sets %}
    {% if set.readable() %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ set.name }}</td>
        <td>{{ set.children|length }}</td>
        <td>{{ set.datas|length }}</td>
        <td>{{ set.created|dtformat }}</td></tr>
    {% endif %}
  {% endfor %}
  </tbody>
  </table>
  <script>
    $(document).ready(function() { $('#datatable').dataTable({
    "bLengthChange": false, "bPaginate": false}); });
  </script>
{% endblock %}>
